.venv
apiKey.txt
build/
dist/
.vscode
jarvis.egg-info/PKG-INFO
jarvis/__pycache__/constants.cpython-35.pyc
jarvis/__pycache__/utils.cpython-35.pyc
jarvis.egg-info/SOURCES.txt
jarvis.egg-info/dependency_links.txt
jarvis.egg-info/entry_points.txt
jarvis.egg-info/requires.txt
jarvis.egg-info/top_level.txt
jarvis_cli.egg-info/PKG-INFO
jarvis_cli.egg-info/SOURCES.txt
jarvis_cli.egg-info/dependency_links.txt
jarvis_cli.egg-info/entry_points.txt
jarvis_cli.egg-info/requires.txt
jarvis_cli.egg-info/top_level.txt
jarvis_cmd.egg-info/PKG-INFO
jarvis_cmd.egg-info/SOURCES.txt
jarvis_cmd.egg-info/dependency_links.txt
jarvis_cmd.egg-info/entry_points.txt
jarvis_cmd.egg-info/requires.txt
jarvis_cmd.egg-info/top_level.txt
__pycache__/constants.cpython-35.pyc
__pycache__/utils.cpython-35.pyc
MyTesting.http
